.card{
    border:1px solid black;
    margin-left:30px;
    padding:20px;
}
.field{
    background-color:lightgray;
    padding:20px;
}
input[type=submit]{
    width:100%;
    padding:10px;
    border-radius: 10px;
}
input:hover{
    background-color: lightskyblue;
}
.validationMessage{
    color:red;
    font-size: small;
}